<div id="flash">
  <% flash.each do |key, message| %>
    <% style = case key.to_sym
      when :alert then 'color: red;'
      when :notice then 'color: green;'
      else ''
      end %>
    <p style="<%= style %>"><%= message %></p>
  <% end %>
</div>