<h1>Welcome to the Student Homepage!</h1>

<%= link_to "Profile", @profile_path, class: "btn btn-primary" %>

<%= link_to "Logout", @logout_path, class: "btn btn-danger" %>

<%= link_to "Practice", @problem_path, class: "btn btn-danger" %>