<!-- filepath: /mnt/c/Users/olivi/Code/engr-216-practice-problem-generator/app/views/leaderboard/leaderboard.html.erb -->
<h1>Leaderboard</h1>
<%= link_to 'Back to Student Home', student_home_path, class: 'btn btn-secondary' %>