<h1>Student Progress Summary</h1>

<table>
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Completed Questions</th>
      <th>Progress</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= "#{student.first_name} #{student.last_name}" %></td>
        <td><%= student.completed_questions.count %></td>
        <td><%= student.progress %></td>
      </tr>
    <% end %>
  </tbody>
</table>
