<div class="mb-3">
  <%= form.label :type_id, "Select Type", class: "form-label" %>
  <%= form.collection_select :type_id, @types, :id, :type_name, { prompt: "Select a Type" }, class: "form-select" %>
</div>